<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Farmeto</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
  
  <link rel="stylesheet" href="/stylesheets/buyer/login.css"/>
</head>
<body>

<div class="card-back">
    <div class="center-wrap">
      <div class="section text-center">
        <h4 class="mb-4 pb-3">Sign Up</h4>
        <form id="signup-form" action="signup" method="post">
          <div class="form-group">
            <input type="text" name="name" class="form-style" placeholder="Your Full Name" id="name" autocomplete="off">
            <i class="input-icon uil uil-user"></i>
          </div>
          <div class="form-group mt-2">
            <input type="email" name="email" class="form-style" placeholder="Your Email" id="email" autocomplete="off">
            <i class="input-icon uil uil-at"></i>
            <% if (emailExist) { %>
              <p class="text-danger">Email Already exist</p>
              <% } %>
          </div>
          <div class="form-group mt-2">
            <input type="password" name="password" class="form-style" placeholder="Your Password" id="password" autocomplete="off">
            <i class="input-icon uil uil-lock-alt"></i>
            <% if (wrongPassword) { %>
              <p class="text-danger">Wrong Password</p>
              <% } %>
          </div>
          <div class="form-group mt-2">
            <input type="password" name="confirm" class="form-style" placeholder="Confirm Password" id="confirmpassword" autocomplete="off">
            <i class="input-icon uil uil-lock-alt"></i>
   
          <button type="submit" class="btn mt-4">Create account</button>
        </form>
      </div>
    </div>
  </div>


<!-- END of HTML Coding -->

</body>
</html>
